<!-- Registration -->
{{ form_errors(registrationForm) }}
                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.firstname, {
                            label: 'Firstname'
                        }) }}
                        {{ form_row(registrationForm.lastname, {
                            label: 'Lastname'
                        }) }}
                        {{ form_row(registrationForm.username, {
                            label: 'Username'
                        }) }}
                        {{ form_row(registrationForm.email, {
                            label: 'Email'
                        }) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}
<div class="mt-6">
    <button
            class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50" type="submit">
        Register
    </button>
</div>
{{ form_end(registrationForm) }}
<p class="mt-6 text-sm text-center text-gray-400">Do you have an account? <a href="{{ path('app_login') }}" class="text-gray-900 focus:outline-none focus:underline hover:underline">Sign up</a>.</p>
</div>
</div>
</div>
</div>
</div>
</body>
</html>